<% content_for :head do %>
  <%= stylesheet_link_tag 'viewer' %>
<% end %>

<div id="viewer-messages">
  <p title="The error was: <%= error %>">文件过大或者网络原因无法预览此文件.</p>
  <p><%= link_to "下载到本地", source %></p>
</div>
