<% content_for :head do %>
  <%= stylesheet_link_tag "chromeless" %>
  <%= stylesheet_link_tag "viewer" %>
<% end %>

<div id="viewer-messages">
  <p>We cannot create the document preview at this time.</p>
  <p><%= link_to "Download the document", @source %></p>
</div>
