<% content_for :head do %>
  <%= stylesheet_link_tag 'viewer' %>
  <%= javascript_include_tag 'viewer' %>
<% end %>

<div id="viewer-messages">
  <div id="loading-indicator" data-viewer-source="<%= @source %>">文档加载中. 请稍候...</div>
  <div id="alternative">
    <p id="alt-plugin" class="alt">It appears that you do not have the necessary software installed to view the preview.</p>
    <p id="alt-timeout" class="alt">加载文档预览的时间要比预期的要长...</p>
    <p><a href="<%= @source %>">下载文档</a></p>
  </div>
</div>
